* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contenedor-limite {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    background-color: #F4FFA3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e7dcd6'/%3E%3Cstop offset='1' stop-color='%23e7dcd6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ade7d6'/%3E%3Cstop offset='1' stop-color='%23ade7d6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239ac0ff'/%3E%3Cstop offset='1' stop-color='%239ac0ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F4FFA3'/%3E%3Cstop offset='1' stop-color='%23F4FFA3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DAB3FF'/%3E%3Cstop offset='1' stop-color='%23DAB3FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}    
.contenedor-banner{
    max-width: 1000px;
}
    .contenedor-banner img {
        width: 1000px;
        height: 300px;
    }

.contenedor-arriba {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    padding: 10px;
}

        .contenedor-arriba .columna-derecha {
            width: 450px;
            margin: 12px 0px 0px 10px;
        }
            .contenedor-arriba .columna-derecha a {
                text-decoration: none;
            }
                .contenedor-arriba .columna-derecha h3 {
                    font-size: 12px;
                }
                
                    .contenedor-arriba .columna-derecha div {
                        margin: 10px;
                        margin-top: 20px;
                        border-bottom: rgb(33, 96, 151) solid 2px;
                    }
                        .contenedor-arriba .columna-derecha div h2 {
                            font-size: 19px;
                            margin-top: 6px;
                            margin-bottom: 6px;
                            transition: transform 200ms;
                        }
                        .contenedor-arriba .columna-derecha div h2 a {
                            color: #1d42aa;
                        }
                            .contenedor-arriba .columna-derecha div h2:hover {
                                transform: scale(1.1) translateX(30px);
                            }
                                .contenedor-arriba .columna-derecha div p {
                                    margin-bottom: 8px;
                                    margin-top: 10px;
                                }
                                    .contenedor-arriba iframe {
                                        aspect-ratio: 16 / 9;
                                        width: 500px;
                                        margin-top: 20px;
                                    }
                                        .video {
                                            width: 500px;
                                            aspect-ratio: 16/9;
                                        }

.contenedor-medio {
   display: flex; 
   flex-direction: row;
   margin-top: 20px;
   margin-left: 15px;
}
    .contenedor-medio a .fotoNota img:hover {
        transform: scale(1.08);
        transition: transform 200ms ease-in-out;
    }
    .contenedor-medio a .fotoNota img:hover ~ h3{
        transform: translateY(10px);
    }
        .contenedor-medio a {
            text-decoration: none;
            color: #7b3788;
        }
            .fotoNota {
                margin: 10px 20px 10px 20px;
                position: relative;
                width: 200px;
                height: 250px;
            }
                .contenedor-medio .fotoNota img {
                    width: 200px;
                    border-radius: 3px;
                }
                    .fotoNota h3 {
                        padding-bottom: 15px;
                        transition: transform 200ms;
                        text-align: center;
                    }
                        .fotoNota img {
                            background-color: rgb(158, 85, 158);
                            border-radius: 2px;
                            border: 1px solid rgb(143, 8, 125);
                        }

.contenedor-medio2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 20rem;
    flex-wrap: wrap;
    margin: 2rem auto;
    border: 1px solid black;
    padding: 20px;
    position: relative;
/* sirve para que todo lo que no está dentro del div, no se muestre */
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}
.contenedor-medio2:hover {
    box-shadow: -10px 10px 50px -10px rgba(22, 19, 18, 0.682);
}
    .contenedor-medio2 a,
    .contenedor-medio2 p,
    .contenedor-medio2 .icono {
        position: relative;
        z-index: 1;
    }
        .contenedor-medio2 a {
            text-decoration: none;
            color: #0d0d0d;
        }
            .contenedor-medio2 h3 {
                margin-left: 10px;
                position: relative;
                left: 50px;
                cursor: pointer;
            }
                .contenedor-medio2 p {
                    width: 100%;
                    margin-left: 12px;
                    margin-top: 10px;
                }
                            .icono {
                                width: 50px;
                                position: relative;
                                left: -240px;
                            }
                                .contenedor-medio2 .fondo-contenedor {
                                    width: 150px;
                                    height: 150px;
                                    background: linear-gradient(red, blue);
                                    position: absolute;
                                    left: -110px;
                                    top: 150px;
                                    border-radius: 100%;
                                    transition: all 200ms;
                                }
                                    .contenedor-medio2:hover .fondo-contenedor {
                                        width: 470px;
                                        height: 400px;
                                        top: -90px;
                                        left: -40px;
                                    }
                                    .contenedor-medio2:hover h3,
                                    .contenedor-medio2:hover p {
                                        color: white;
                                    }

.contenedor-abajo {
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem;
    border: 3px solid rgb(33, 96, 151);
    border-radius: 15px;
    padding: 10px;
    align-items: center;
}
    .contenedor-abajo .boton {
        position: relative;
        bottom: 45px;
        left: 270px;
        background: linear-gradient(#a3f1f5, #4470e7);
        border-radius: 5px;
        border-color: aliceblue;
        width: 200px;
        height: 18px;
        font-size: 18px;
        color: aliceblue;
        cursor: pointer;
        text-align: center;
        padding: 10px 15px;
        transition: transform 200ms;
    }
        .contenedor-abajo .boton:hover {
            transform: scale(1.1);
        }
            .contenedor-abajo p {
                margin: 0px 10px 10px 10px;
            }
                .contenedor-abajo h2 {
                    margin: 10px 0px 15px 0px;
                    color: rgb(33, 96, 151);
                }
                    .contenedor-abajo img {
                        width: 80vw;
                        max-width: 800px;
                        aspect-ratio: 16/9;
                    }



/* .contenedor {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    background-color: aquamarine;
}
div {
    flex-shrink: 0; 
    sirve para que no se encoja menos del tamaño que tiene
    border: 2px red solid;
    margin: 10px;
    padding: 10px;
    width: 200px;
    background-color: bisque;
}

#foto {
    
    width: 400px;
    height: 200px;
} */