* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contenedor-limite {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    background-color: #5B61FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2359beff'/%3E%3Cstop offset='1' stop-color='%2359beff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2383c1d3'/%3E%3Cstop offset='1' stop-color='%2383c1d3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2382fdd3'/%3E%3Cstop offset='1' stop-color='%2382fdd3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235B61FF'/%3E%3Cstop offset='1' stop-color='%235B61FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2357FBFF'/%3E%3Cstop offset='1' stop-color='%2357FBFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23A2FF9B'/%3E%3Cstop offset='1' stop-color='%23A2FF9B' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}    
.contenedor-banner{
    max-width: 1000px;
    width: 100vw;
}
    .contenedor-banner img {
        width: 100vw;
        max-width: 1000px;
        height: 100hw;
        max-height: 300px;
        min-width: 300px;
    }

.contenedor-arriba {
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    justify-content: center;
    padding: 1.5rem;
    flex-wrap: wrap;
}

        .contenedor-arriba .columna-derecha {
            width: 450px;
            min-width: 300px;
            margin: 12px 0px 0px 10px;
        }
            .contenedor-arriba .columna-derecha a {
                text-decoration: none;
            }
                .contenedor-arriba .columna-derecha h3 {
                    font-size: 1rem;
                }
                
                    .contenedor-arriba .columna-derecha div {
                        margin: 10px;
                        margin-top: 20px;
                        border-bottom: rgb(33, 96, 151) solid 2px;
                    }
                        .contenedor-arriba .columna-derecha div h2 {
                            font-size: 1.2rem;
                            margin-top: 6px;
                            margin-bottom: 6px;
                            transition: transform 200ms;
                        }
                        .contenedor-arriba .columna-derecha div h2 a {
                            color: #2f24b1;
                        }
                            .contenedor-arriba .columna-derecha div h2:hover {
                                transform: scale(1.1) translateX(30px);
                                
                            }
                                .contenedor-arriba .columna-derecha div p {
                                    margin-bottom: 8px;
                                    margin-top: 10px;
                                    font-size: 0.8rem;
                                }
                                    .contenedor-arriba iframe {
                                        aspect-ratio: 16 / 9;
                                        width: min(100% , 27em);
                                        max-width: 450px;
                                        min-width: 300px;
                                        margin-top: 20px;
                                    }
                                        /* .video {
                                            width: 40vw;
                                            aspect-ratio: 16/9;
                                            min-width: 300px;
                                            max-width: 700px;
                                        } */

.contenedor-medio {
   display: flex;
   justify-content: center; 
   flex-direction: row;
   margin-top: 20px;
   margin-left: 15px;
   flex-wrap: wrap;
}
    .contenedor-medio a .fotoNota img:hover {
        transform: scale(1.08);
        transition: transform 200ms ease-in-out;
    }
    .contenedor-medio a .fotoNota img:hover ~ h3{
        transform: translateY(10px);
    }
        .contenedor-medio a {
            text-decoration: none;
            color: #2e0835;
        }
            .fotoNota {
                margin: 0px 20px 35px 20px;
                position: relative;
                width: 200px;
                height: 250px;
                
            }
                .contenedor-medio .fotoNota img {
                    width: 200px;
                    border-radius: 50%;
                    background-color: rgb(227, 232, 244);
                }
                    .fotoNota h3 {
                        margin-top: 0.5em;
                        transition: transform 200ms;
                        text-align: center;
                        font-size: 1.2em;
                    }
                        .fotoNota img {
                            background-color: rgba(158, 85, 158, 0);
                            border-radius: 2px;
                            border: 3px solid rgb(0, 0, 0);
                        }
                            .banner-explication {
                                width: 90vw;
                                max-width: 800px;
                                min-width: 300px;
                                margin-bottom: 3.5rem;
                            }

.contenedor-medio2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: max(35vw);
    max-width: 500px;
    min-width: 300px;
    flex-wrap: nowrap;
    margin: 2rem auto;
    border: 1px solid black;
    padding: 1em;
    position: relative;
/* sirve para que todo lo que no está dentro del div, no se muestre */
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}
.contenedor-medio2:hover {
    box-shadow: -10px 10px 50px -10px rgba(22, 19, 18, 0.682);
}
    .contenedor-medio2 a,
    .contenedor-medio2 p,
    .contenedor-medio2 .icono {
        position: relative;
        z-index: 1;
    }
        .contenedor-medio2 a {
            text-decoration: none;
            color: #0d0d0d;
        }
            .contenedor-medio2 h3 {
                margin-left: 1.5em;
                cursor: pointer;
            }
                .contenedor-medio2 p {
                    /* width: 100%; */
                    margin: 10px;
                }
                            .icono {
                                width: 8vw;
                                max-width: 50px;
                                /* position: relative;
                                left: -240px; */
                            }
                                .contenedor-medio2 .fondo-contenedor {
                                    width: 150px;
                                    height: 150px;
                                    background: linear-gradient(rgb(147, 66, 19), rgb(48, 67, 235));
                                    position: absolute;
                                    left: -110px;
                                    top: 150px;
                                    border-radius: 100%;
                                    transition: all 200ms;
                                }
                                    .contenedor-medio2:hover .fondo-contenedor {
                                        width: 60rem;
                                        height: 50rem;
                                        top: -320px;
                                        left: -55px;
                                    }
                                    .contenedor-medio2:hover h3,
                                    .contenedor-medio2:hover p {
                                        color: white;
                                    }

.contenedor-abajo {
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem;
    border: 3px solid #2e0835;
    border-radius: 15px;
    padding: 2rem;
    max-width: 1000px;
    min-width: 250px;
    align-items: center;
}
    .contenedor-abajo a {
        text-decoration: none;
    }
        .contenedor-abajo .boton {
            display: flex;
            background: linear-gradient(#738ee4, #4470e7);
            border-radius: 5px;
            border: 2px solid aliceblue;
            position:relative;
            bottom: -3rem;
            left: 15vw;
            height: 1.5em;
            width: 9em;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            padding-bottom: 0.5em;
            font-size: 1.4em;
            transition: transform 200ms;
        }
            .contenedor-abajo .boton p{
                color: aliceblue;
                font-family: 'Courier New', Courier, monospace;
            }
                .contenedor-abajo .boton:hover {
                    transform: scale(1.1);
                }
                    .contenedor-abajo p {
                        margin: 1em 1.5em 0.5em 1.5em;
                    }
                        .contenedor-abajo h2 {
                            font-size: 2em;
                            text-align: center;
                            margin: 0em 0.5em 1em 0.5em;
                            color: #2e0835;
                        }
                            .contenedor-abajo img {
                                width: 80vw;
                                max-width: 100%;
                                min-width: 300px;
                                height: auto; 
                                aspect-ratio: 16/9;
                                /* visibility: hidden; */
                            }

/* Esta es la parte del esqueleto de carga */

#conteiner-charge {
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}  

#charge {
    border: 15px solid #c4c2d2;
    border-top-color: #345dce;
    border-top-style: inset; 
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}


#charge2 {
    border: 10px solid #c4c2d2;
    border-top-color: #345dce;
    border-top-style: inset; 
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    -webkit-animation: rotateinverse 1.5s linear infinite;
    -o-animation: rotateinverse 1.5s linear infinite;
    animation: rotateinverse 1.5s linear infinite;
}

@keyframes girar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateinverse {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

/* Acá va toda la parte que corresponde a la vista movil */

@media screen and (max-width: 999px){
    
    .contenedor-arriba .columna-derecha {
        width: 80vw;
    }
} 

@media screen and (max-device-width: 450px){
    
    .contenedor-arriba .columna-derecha div h2 {
        transition: none;
    }
    .contenedor-arriba .columna-derecha div h2:hover {
        transform: none;
    }
    
    .contenedor-medio .fotoNota,
    .contenedor-medio .fotoNota img {
        width: 8em;
    }

    .contenedor-medio2 .fondo-contenedor {
        width: 60rem;
        height: 50rem;
        top: -320px;
        left: -55px;
        transition: none;
    }
        .contenedor-medio2 h3,
        .contenedor-medio2 p {
            color: white;
        }
    .fotoNota {
        height: 11.5em;
    }
        .fotoNota img,
        .fotoNota h3 {
            transition: none;
        }
            .fotoNota h3{
                font-size: 0.8em;
            }

    .contenedor-abajo .boton {
        height: 1em;
        font-size: 1.1em;
        width: 9em;
    }
        .contenedor-abajo h2{
            font-size: 1.2em;
        }
                
}